$primaryColor: #4527a4;

.bBlocksInspectorInfo {
	padding: 6px;

	a {
		text-decoration: none;
		font-weight: 700;
	}
}

.wp-block-b-blocks-pano-pannellum{
	.selectHelp{
		color: #616063;
	}
	
	.EditCss{
		color: brown;
		margin-bottom: 20px;
		font-style: oblique;
		font-size: xx-large;
	}
}
